body {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  @apply text-base;
}

main {
  min-height: 100vh;
}

.container {
  @apply mx-auto;
}

.button {
  @apply w-full sm:w-auto inline-block text-base font-medium text-center tracking-widest transition-all duration-150 ease-out px-8 py-3 rounded-md cursor-pointer;
}

.button-primary {
  @apply bg-black text-white;
  &:not(.disable):hover {
    @apply scale-105;
  }
}

.button-secondary {
  @apply border border-black hover:bg-black;
  &:not(.disable):hover {
    @apply text-white scale-105;
  }
}

.media {
  @apply relative overflow-hidden;
}

.media > img {
  @apply block absolute top-0 left-0 h-full w-full;
}

.media--1-1 {
  aspect-ratio: 1;
}

.media--4-3 {
  aspect-ratio: 4/3;
}

.media--3-4 {
  aspect-ratio: 3/4;
}

.media--16-9 {
  aspect-ratio: 16/9;
}
